<!DOCTYPE html>
<html>
<head>
  <title>Me, Setting Sails<% if content_for?(:title) %> – <%= yield(:title) %><% end %></title>
  <meta name="viewport" content="width=350" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <% if Rails.env.production? %>
    <% as_site = 14 %>
    <% base_url = "http" + ((request.ssl?) ? "s" : "") + "://system.albisigns.de" + ((request.ssl?) ? ":442" : "") + "/" %>
    <script>var as_site = <%= as_site %>;</script>
    <%= javascript_include_tag base_url + "stats.js" %>
    <noscript><%= image_tag base_url + "stats" + as_site.to_s + ".png", alt: "" %></noscript>
  <% end %>

</body>
</html>
